<ul class="menu">
    {% for menu in menu_items.all %}
        {% if not menu.child_name.all and not menu.childrens.all %}
            <a href="{{ menu.get_absolute_url }}"><li>{{ menu.name }}</li></a>
        {% else %}
                <li>{{ menu.name }}</li>
            {% if menu.child_name.all %}
                    {% include "templates/menu.html" with menu_items=menu.child_name %}
                {% elif menu.childrens.all %}
                    {% include "templates/menu.html" with menu_items=menu.childrens %}
                {% endif %}
        {% endif %}
    {% endfor %}
</ul>