li {
  list-style-type: none;
}
.menu {
  display: flex;
}


.my-menu {
  display: inline-block;
  font-weight: bold;
  margin-right: 25px;
}

.my-menu:hover {
  color: tomato;
}


.my-menu li {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
}

.my-menu label:hover li {
  display: block;
}
















.header {
  background-color: #A6B6A9;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F6F0EB;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #9B4D47;
  text-align: center;
  width: 99%;
  font-weight: bold;
}
