li {
  list-style-type: none;
}

.menu {
  display: flex;
  position: relative;
}

.menu li {
  position: relative;
  font-weight: bold;
  margin-right: 35px;
}

.menu li:hover {
  color: tomato;
}

.menu ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
}

.menu li:hover ul {
  display: inline-block;
}







.header {
  background-color: #A6B6A9;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F6F0EB;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #9B4D47;
  text-align: center;
  width: 99%;
  font-weight: bold;
}
